body { 
  margin: 0 auto; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }
.header { 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 15px; 
  background: hsl(239, 98%, 49%);
  color: rgb(255, 255, 255); }
.header a {
  color: white; 
  margin-left: 15px;  
  text-decoration: none; 
  font-weight: bold; }
.hero {
  padding: 60px; 
  background: #f3f3f3; 
  text-align: center;
  color: #0f3fcf; 

}
.info-blocks {
   display: flex; 
   justify-content: center;
   gap: 20px;
   padding: 40px;
   margin-bottom: 0px;
  }
.block {
   background: rgb(124, 157, 236);
   padding: 25px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   color: #fcfbfb;
   }
.catalog { 
  display: flex;
  justify-content: center;
  gap: 20px; 
  padding: 40px; }
.card { 
  padding: 40px; 
  border: 1px solid #ddd;
   border-radius: 10px; 
   width: 200px; 
   text-align: center; 
   background: white; 
   box-shadow: 0 0 8px rgba(0,0,0,0.1); }
.footer { 
  text-align: center; 
  padding: 20px; 
  background: #0f3fcf; 
  color: white; 
  margin-top: 130px; 
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.view-more-container {
  text-align: center;
  margin-top: 10px;
}

.view-more-btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px;
  border: 2px solid rgb(95, 193, 254);
  border-radius: 8px;
  background: transparent;
  color: rgb(95, 193, 254);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-more-btn:hover {
  background: rgb(95, 193, 254);
  color: white;
}
